@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: rgba(114,24,174,80%);
} 
div>h1{
    font-family: 'Oswald', sans-serif;
}
.conteiner-central{
    background-color: #7218AE;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 3rem 1rem;  
    border: solid 5px#8AAD1F;
    width:350px;
    height: 350px;
    border-radius: 100%;
    animation: rot 2s infinite ease-in-out;
    background-color: #fff;
    
    animation: bordaRotate 2s infinite;
   

}
@keyframes bordaRotate {
   

}

@media  screen and (max-width:300px) {
    .conteiner-central{
        width: 90%;
        margin: auto;
    } 
    .conteiner{
        width: 100%;
       
      }
      .button{
        padding: 0;
        margin: 0;
      }
}

h1{
    font-size: 3rem;
    
   
}
.btn-conteiner{
    display: flex;
    margin-top:3rem ;
    justify-content: center;
}
button{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid  #8AAD1F;
    background-color: #8AAD1F;
}

span{
    font-family: 'Wallpoet', cursive;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7218AE;
}
.list-time{
    border: solid 2px #AD0709;
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 15;
    text-align: center;
    
}
li{
    list-style: none;
    border-bottom: 1px solid #000 ;
    padding: 0.5rem;
    color: #FFF;
    
}