@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    padding: 0;
    margin: 0;
} 
div>h1{
    font-family: 'Oswald', sans-serif;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 3rem;  
    border: solid 2px #CC6890;
    width:350px;
    height: 350px;
    border-radius: 100%;
    animation: rot 2s infinite ease-in-out;
    border-left: solid 2px #FDCDE0

}

h1{
    font-size: 3rem;
   
}
.btn-conteiner{
    display: flex;
    margin-top:3rem ;
    justify-content: center;
}
button{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}

span{
    font-family: 'Wallpoet', cursive;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}